<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
</head>
<body>
    <h1>
        Gear comparer
    </h1>
    <p>for the lazy ppl <br>
    <br>
    </p>
    <form action="/output" method="POST">
        <p>Old Vers <input type="text" name="oldVers"> </p>
        <p>Old HP <input type="text" name="oldHP"> </p>
        <p>New Vers <input type="text" name="newVers"> </p>
        <p>New HP <input type="text" name="newHP"> </p>
        <p><input type="Submit" value='Submit'></p>
    </form>
    <h2><br>Disclaimer!</h2>
    <p>don't use a % sign in vers</p>
    <p>seperate decimals with a "." not a ","</p>
    <p>cuz cba writing code that doens't break if u do...</p>
</body>
</html>